---
name: Verify all
on:
  pull_request: {}
  push:
    branches:
      - master
jobs:
  verify-all:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version: 1.25.1
      - name: Checkout code
        uses: actions/checkout@v5.0.0
        with:
          persist-credentials: false
      - run: ./hack/verify-all.sh -v
